@use "css_reset";

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$clr-primary-light: hsl(30, 38%, 92%);
$clr-primary-dark: hsl(158, 36%, 37%);
$clr-secondary-dark: hsl(212, 21%, 14%);
$clr-secondary-medium: hsl(228, 12%, 48%);
$clr-secondary-light: hsl(0, 0%, 100%);

@mixin font-display($clr) {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: $clr;
}

@mixin font-overline($clr) {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  color: $clr;
}

@mixin font-body($clr) {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4375rem;
  letter-spacing: 0;
  color: $clr;
}

@mixin font-button($clr) {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  color: $clr;
}

@mixin top-border-radius() {
  border-radius: 10px 10px 0 0;
}

@mixin left-border-radius() {
  border-radius: 10px 0 0 10px;
}

body {
  margin: 0;
  background-color: $clr-primary-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 250px;
  margin: auto 1rem;
  background-color: $clr-secondary-light;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #00000022;

  picture {
    img {
      @include top-border-radius();
    }
  }

  .content {
    padding: 2rem;
    .type {
      @include font-overline($clr-secondary-medium);
      margin: 0;
      text-transform: uppercase;
    }

    h1 {
      @include font-display($clr-secondary-dark);
      margin: 1rem 0;
    }

    .description {
      @include font-body($clr-secondary-medium);
      margin: 1rem 0;
    }

    .prices {
      display: flex;
      align-items: center;
      margin: 2rem 0 1rem 0;

      .price {
        @include font-display($clr-primary-dark);
        margin: 0 1rem 0 0;
      }

      .original-price {
        @include font-body($clr-secondary-medium);
        text-decoration: line-through;
        margin: 0;
      }
    }

    .add-cart {
      width: 100%;
      padding: 1rem;
      border-radius: 8px;
      border: none;
      @include font-button($clr-secondary-light);
      background-color: $clr-primary-dark;

      &::before {
        content: url("../images/icon-cart.svg");
        padding: 1rem;
        vertical-align: middle;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background-color: darken($clr-primary-dark, 10%);
        box-shadow: inset 2px 2px 2px $clr-primary-dark;
      }
    }
  }

  @media screen and (min-width: 580px) {
    max-width: 600px;
    display: flex;

    picture {
      flex: 1 0 50%;
      img {
        height: 100%;
        object-fit: cover;
        @include left-border-radius();
      }
    }

    .content {
      .add-cart {
        margin-top: 1rem;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
